<nav class="bg-blue-1 px-4 py-4 md:px-10">
    <div class="flex items-center justify-between">
      <div class="text-2xl font-semibold">
        <a routerLink="/" routerLinkActive="active">
          <img src="../../assets/logo.png" alt="logo" class="h-8 md:h-auto">
        </a>
      </div>
      <div class="flex md:hidden">
        <button class="text-white hover:text-yellow-1 focus:outline-none" (click)="toggleMenu()">
          <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
            <path *ngIf="!showMenu" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
            <path *ngIf="showMenu" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
          </svg>
        </button>
      </div>
      <div class="hidden md:flex items-center gap-6">
        <ul class="flex gap-6 text-white">
          <li class="hover:text-yellow-1 duration-400"><a routerLink="/" routerLinkActive="active">Home</a></li>
          <li class="hover:text-yellow-1 duration-400"><a routerLink="/about" routerLinkActive="active">About Us</a></li>
          <li class="hover:text-yellow-1 duration-400">Solutions</li>
          <li class="hover:text-yellow-1 duration-400">Contact Us</li>
          <li class="hover:text-yellow-1 duration-400"><a routerLink="/register" routerLinkActive="active">Sign Up</a></li>
        </ul>
        <a routerLink="/login" routerLinkActive="active"><button class="bg-yellow-1 py-2 px-6 text-black rounded-lg">Log in</button></a>
      </div>
    </div>
    <div class="md:hidden" *ngIf="showMenu">
      <ul class="flex flex-col gap-4 mt-4 text-white">
        <li class="hover:text-yellow-1 duration-400"><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li class="hover:text-yellow-1 duration-400"><a routerLink="/about" routerLinkActive="active">About Us</a></li>
        <li class="hover:text-yellow-1 duration-400">Solutions</li>
        <li class="hover:text-yellow-1 duration-400">Contact Us</li>
        <li class="hover:text-yellow-1 duration-400"><a routerLink="/login" routerLinkActive="active">Log in</a></li>
        <li class="hover:text-yellow-1 duration-400"><a routerLink="/register" routerLinkActive="active">Sign Up</a></li>
      </ul>
    </div>
  </nav>